* {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin: 1px;
  width: 1100;
}

ul li {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: auto;
  background-color: red;
}

.ListItems {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
}
ul li div {
  flex: 0 0 100%;
  min-width: 250px;
  max-width: 250px;
  height: 35px;
  margin-left: 0.5px;
  margin-right: 0.5px;
  overflow: hidden;
  line-height: 2;
}

ul li div h3 {
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}



form {
  display: flex;
  flex-direction: row;
}

.header {
  width: 1080px;
  background-color: red;
  height: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.header h3 {
  font-size: 48px;
  color: white;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
  line-height: 85px;
  margin-left: 10px;
}
.submit_btn {
  width: 75px;
  min-width: 75px;
  height: 57px;
  min-height: 57px;
  font-size: 16px;
  border-radius: 4px;
}
